<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DESCEND<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "syntax" %>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <article class='blog'>
      <h1><a href='/'>DESCEND</a></h1>

      <% unless current_article.nil? %>
      <h2><%= current_article.title %></h2>
      <% end %>

      <%= yield %>
    </article>
  </body>
</html>
